@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'Nimbus';
    src: url('./fonts/TAN_Nimbus/TAN-NIMBUS.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #f5f5f5;
    width: 100%;
    height: 500vh;
    background-image: url('./img/body.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #f5f5f5;
}

section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-section {
    /* background-image: url('./img/banner.png'); */
    display: flex;
    gap: 5em;
}

.first-section .text-left {
    width: 50%;
    height: 90vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.first-section .text-left h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.first-section .text-left h2 {
    font-size: 4em;
    font-weight: 300;
}

.first-section .text-left p {
    font-size: 1.3em;
    font-weight: 100;
}

.first-section .img-right {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first-section .img-right img {
    width: 80%;
    /* margin-bottom: 3em; */
}

.first-section .img-right a {
    width: 30%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 1px #f5f5f5;
    border-radius: 8px;
    transition: all .5s;
    position: relative;
    bottom: -6%;
    left: -30%;
}

.first-section .img-right a:hover {
    background-color: #f5f5f5;
    color: black;
}

.text {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    align-items: center;
    justify-content: center;
}

.text img {
    width: 3em;
}

.text h3 {
    width: 50%;
    text-align: center;
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.8em;
}

.cards {
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.cards .card {
    width: 28%;
    height: 60vh;
    background-color: #383838;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8em;
    padding: 2em 1.5em;
}

.cards .card img {
    width: 20%;
    position: relative;
    z-index: 1;
    margin-left: -10px;
}

.img-marketing {
    left: -10px;
}

.cards .card h4 {
    position: relative;
    z-index: 1;
    font-size: 1.3em;
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
}

.cards .card p {
    position: relative;
    z-index: 1;
    text-align: justify;
    letter-spacing: .05em;
    cursor: default;
}

.cards .card .fundo {
    content: '';
    width: 0%;
    height: 0vh;
    background-color: #ffffff00;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: all .4s;
    z-index: 0;
}

.cards .card:hover .fundo {
    width: 100%;
    height: 60vh;
    border-radius: 8px;
    background-color: #8d8d8d;
    background-image: linear-gradient(45deg ,#84236a, #d41c78);
}

.catalogo {
    display: flex;
    background-color: #383838;
    justify-content: center;
    align-items: center;
}

.catalogo .left, .catalogo .right {
    width: 50%;
    height: 95vh;
}

.catalogo .left {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.catalogo .left .text {
    width: 90%;
    padding-right: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1em;
}

.catalogo .left .text h3 {
    text-align: right;
}

.catalogo .left .text p {
    font-size: 1.4em;
    font-weight: 300;
    text-align: right;
}

.catalogo .right {
    height: 95vh;
    background-color: #bdbcbc;
    border-radius: 50px 0 0 50px;
}