@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'Nimbus';
    src: url('./fonts/TAN_Nimbus/TAN-NIMBUS.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #f5f5f5;
    width: 100%;
    /* height: 500vh; */
    background-image: url('./img/body.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    padding: .6em 1.8em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 1px #f5f5f5;
    border-radius: 8px;
    transition: all .5s;
}

a:hover {
    background-color: #f5f5f5;
    color: black;
}

section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-section {
    height: 80vh;
    display: flex;
    gap: 5em;
}

.first-section .text-left {
    width: 50%;
    height: 90vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.first-section .text-left h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.first-section .text-left h2 {
    font-size: 4em;
    font-weight: 300;
}

.first-section .text-left p {
    font-size: 1.3em;
    font-weight: 100;
}

.first-section .img-right {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* position: relative; */
}

.first-section .img-right img {
    width: 80%;
}

.button-init {
    width: 13%;
    margin: 0 auto;
}

.text {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    align-items: center;
    justify-content: center;
}

.text img {
    width: 3em;
}

.text h3 {
    width: 50%;
    text-align: center;
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.8em;
}

.of-cards {
    margin-top: 10vh;
}

.cards {
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 10vh;
}

.cards .card {
    width: 28%;
    height: 60vh;
    background-color: #383838;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8em;
    padding: 2em 1.5em;
}

.cards .card img {
    width: 20%;
    position: relative;
    z-index: 1;
    margin-left: -10px;
}

.img-marketing {
    left: -10px;
}

.cards .card h4 {
    position: relative;
    z-index: 1;
    font-size: 1.3em;
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
}

.cards .card p {
    position: relative;
    z-index: 1;
    text-align: justify;
    letter-spacing: .05em;
    cursor: default;
}

.cards .card .fundo {
    content: '';
    width: 0%;
    height: 0vh;
    background-color: #ffffff00;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: all .4s;
    z-index: 0;
}

.cards .card:hover .fundo {
    width: 100%;
    height: 60vh;
    border-radius: 8px;
    background-color: #8d8d8d;
    background-image: linear-gradient(45deg, #84236a, #d41c78);
}

.catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogo .left,
.catalogo .right {
    width: 50%;
    height: 95vh;
}

.catalogo .left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.catalogo .left .text {
    width: 90%;
    padding-right: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}

.catalogo .left .text h3 {
    text-align: right;
}

.catalogo .left .text p {
    font-size: 1.5em;
    font-weight: 300;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.catalogo .right {
    height: 95vh;
    background-color: #242424;
    box-shadow: -1px -1px 5px #3f3f3f;
    border-radius: 50px 0 0 50px;
    padding: 0 4em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalogo .right .option {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.catalogo .right .option h5 {
    font-size: 1.3em;
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 5px;
}

.catalogo .right .teste {
    padding: 3em 0;
    margin: 3em 0;
    border-top: 1px solid #f5f5f583;
    border-bottom: 1px solid #f5f5f583;
}

.last-section {
    height: 100%;
    position: relative;
    top: 10vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20vh;
}

.last-title {
    width: 50%;
    height: 10vh;
    text-align: center;
}

.last-title h3 {
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2em;
}

.last-section .models {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}

.last-section .models .model {
    width: 30%;
    height: 100%;
    background-color: #383838;
    border-radius: 20px 20px 20% 20px;
    position: relative;
    overflow: hidden;
}

.last-section .models .model .text {
    position: absolute;
    padding: 2em;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.last-section .models .model .text h4 {
    font-size: 1.3em;
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
}

.last-section .models .model .text .nowrap {
    white-space: nowrap;
    margin-bottom: 1em;
}

.last-section .models .model .imagem {
    width: 60%;
    height: 100%;
    position: absolute;
    right: -30px;
    bottom: -50%;
    border-radius: 40ric 40ric 30px 30px;
    transform: rotate(-5deg);
    background-position: left;
    background-size: cover;
    transition: all 1s;
}

.last-section .models .model:hover .imagem {
    width: 100%;
    transform: rotate(0deg);
    right: 0;
    bottom: -30%;
    border-radius: 20px;
}

.last-section .models .model .imagem::after {
    content: 'Modelo exemplo';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}


.last-section .models .model .imagem:hover::after {
    width: 100%;
    height: 100%;
    background-color: #18181842;
}

.last-section .models .model-one .imagem {
    background-image: url('./img/institucional.jpg');
}

.last-section .models .model-two .imagem {
    background-image: url('./img/landing.jpg');
}

.last-section .models .model-three .imagem {
    background-image: url('./img/ecommerce.jpg');
}

/* Footer */
footer {
    width: 100%;
    height: 50vh;
    background-color: #111111;
    display: flex;
}

footer .left,
footer .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .left {
    text-align: left;
    align-items: flex-end;
}

footer .left .text-footer {
    border-right: 1px solid #f5f5f55e;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .left .text-footer h2,
footer .left .text-footer h3 {
    font-family: 'Nimbus';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2em;
}

footer .left .text-footer h3 {
    font-size: 1.8em;
    color: #8d8d8d;
}

footer .right .infos-footer {
    display: flex;
    gap: 3em;
}

footer .right .infos-footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .right .infos-footer p {
    color: #f5f5f581;
    font-size: .9em;
}

footer .right .infos-footer p b {
    font-size: 1em;
    color: #f5f5f5;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 800px) {
    body {
        height: auto;
        font-size: 12px;
        background-position: left;
    }

    section {
        height: 50vh;
    }

    .first-section {
        width: 80%;
        height: 60vh;
        padding-bottom: 5vh;
        margin: 0 auto;
        align-items: flex-end;
    }

    .first-section .text-left {
        width: 100%;
        height: auto;
        padding: 0;
        align-items: center;
    }

    .first-section .text-left * {
        text-align: center;
    }

    .first-section .text-left h2 {
        font-size: 2.8em;
    }

    .first-section .img-right {
        display: none;
    }

    .button-init {
        width: 40%;
    }

    .button-init a {
        padding: 1em 0;
    }

    .text {
        height: 60vh;
        margin-bottom: 5vh;
    }

    .text h3 {
        width: 80%;
        font-size: 1.2em;
    }

    .last-title {
        width: 100%;
        height: 5vh;
    }

    .last-title h3 {
        text-align: center;
        font-size: 1.8em;
    }

    .cards {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 13vh;
    }

    .cards .card {
        width: 70%;
        height: auto;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: transparent;
        box-shadow: 0 0 #00000000;
    }

    .cards .card img {
        width: 40px;
    }

    .cards .card .img-marketing {
        left: 0px;
    }

    .cards .card h4 {
        font-size: 1em;
        font-family: 'Ubuntu';
        white-space: nowrap;
    }

    .cards .card p{
        display: none;
    }

    .catalogo {
        height: auto;
        flex-direction: column;
        gap: 1.5em;
    }

    .catalogo .left {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .catalogo .left .text {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .catalogo .left .text h3 {
        text-align: center;
    }

    .catalogo .left .text p {
        font-size: 1em;
        text-align: center;
        display: none;
    }

    .catalogo .right {
        display: flex;
        width: 90%;
        height: auto;
        border-radius: 20px;
        padding: 4em 2em;
    }

    .catalogo .right .option h5 {
        font-size: 1em;
        letter-spacing: 2px;
    }

    .catalogo .right .teste {
        margin: 1em 0;
        padding: 1em 0;
    }

    .last-section {
        height: auto;
        margin: 0;
    }

    .last-title {
        width: 90%;
        margin: 0 auto;
    }

    .last-title h3 {
        font-size: 1.6em;
        text-align: center;
    }

    .text h3 {
        font-size: 1.6em;
    }

    .last-section .models {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .last-section .models .model {
        width: 400px;
        height: 100px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .last-section .models .model .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .last-section .models .model .imagem {
        display: none;
    }

     .last-section .models .model .text h4,
     .last-section .models .model .text .nowrap {
        margin: 0;
     }

    footer {
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        padding: 2em 0;
    }

    footer .left,
    footer .right {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    footer .left {
        border-left: 0 #84236a00;
        border-bottom: 1px solid #8d8d8d;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }

    footer .left .text-footer {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        border: 0;
        gap: .5em;
        text-align: center;
    }

    footer .left .text-footer h2 {
        font-size: 1.5em;
    }

    footer .left .text-footer h3 {
        font-size: 1.4em;
    }

    footer .right .infos-footer p {
        text-align: center;
    }

}